// colors

$color-default-white: #ffffff;
$color-default-black: #000000;
$color-navy-blue:     #0050ef;
$color-navy-blue-2:   rgba(0, 80, 239, 0.06);
$color-grey:          #888888;
$color-iris-blue:     #10b2d0;
$color-black:         rgba(0, 0, 0, 0.65);
$color-sapphire:      #011846;
$color-alice-blue:    #f6f9ff;

//viewports

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1366:                           1366px;
$vp-1920:                           1920px;
